# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Database files (Ignore local SQLite database containing seeded and local testing data)
*.db
*.sqlite
*.sqlite3

# Environment files (Ignore local configurations & secret keys)
.env
.env.*
.venv/
env/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
